.square {
    width: 20px;
    height: 20px;
    margin: 5px;
    background-color: lightgray;
    border-radius: 5px
}

    .square.active {
        background-color: #198754;
    }

    .square.inactive {
        background-color: crimson;
    }

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.progress-bar {
    transition: width 0.6s ease;
}
